// Recommend Effects
$aden: hue-rotate(-20deg) contrast(0.9) saturate(0.85) brightness(1.2);
$inkwell: sepia(0.3) contrast(1.1) brightness(1.1) grayscale(1);
$reyes: sepia(0.22) brightness(1.1) contrast(0.85) saturate(0.75);
$gingham: brightness(1.05) hue-rotate(-10deg);
$toaster: contrast(1.5) brightness(0.9);
$walden: brightness(1.1) hue-rotate(-10deg) sepia(0.3) saturate(1.6);
$hudson: brightness(1.2) contrast(0.9) saturate(1.1);
$earlybird: contrast(0.9) sepia(0.2);
$mayfair: contrast(1.1) saturate(1.1);
$_1977: contrast(1.1) brightness(1.1) saturate(1.3);
$brooklyn: contrast(0.9) brightness(1.1);
$xpro2: sepia(0.3);
$nashville: sepia(0.2) contrast(1.2) brightness(1.05) saturate(1.2);
$lark: contrast(0.9);
$moon: grayscale(1) contrast(1.1) brightness(1.1);
$clarendon: contrast(1.2) saturate(1.35);
$willow: grayscale(0.5) contrast(0.95) brightness(0.9);
$rise: brightness(1.05) sepia(0.2) contrast(0.9) saturate(0.9);
$slumber: saturate(0.66) brightness(1.05);

@mixin filter($effect) {
  filter: $effect;
  -webkit-filter: $effect;
  -moz-filter: $effect;
  -o-filter: $effect;
  -ms-filter: $effect;
}

#_1977 {
  @include filter($_1977);
  &::before {
    background: #f36abc;
    opacity: 0.3;
    mix-blend-mode: screen;
  }
}
#aden {
  @include filter($aden);
  &::before {
    background: #e8e1e1;
    mix-blend-mode: darken;
  }
}
#inkwell {
  @include filter($inkwell);
}
#reyes {
  @include filter($reyes);
  &::before {
    background: #efcdad;
    mix-blend-mode: soft-light;
    opacity: 0.5;
  }
}
#gingham {
  @include filter($gingham);
  &::before {
    background: #e8e1e1;
    mix-blend-mode: darken;
  }
}
#toaster {
  @include filter($toaster);
  &::before {
    background: #703a16;
    mix-blend-mode: screen;
  }
}
#walden {
  @include filter($walden);
  &::before {
    background: #0044cc;
    mix-blend-mode: screen;
    opacity: 0.3;
  }
}
#hudson {
  @include filter($hudson);
  &::before {
    background: #969ce6;
    mix-blend-mode: multiply;
    opacity: 0.5;
  }
}
#earlybird {
  @include filter($earlybird);
  &::before {
    background: #785141;
    mix-blend-mode: overlay;
  }
}
#mayfair {
  @include filter($mayfair);
  &::before {
    background: #948181;
    mix-blend-mode: overlay;
  }
}
#_1977 {
  @include filter($_1977);
}
#brooklyn {
  @include filter($brooklyn);
  &::before {
    background: #a3b9ad;
    mix-blend-mode: overlay;
  }
}
#xpro2 {
  @include filter($xpro2);
  &::before {
    background: #d2d2db;
    mix-blend-mode: color-burn;
  }
}
#nashville {
  @include filter($nashville);
  &::before {
    background: #960046;
    opacity: 0.4;
    mix-blend-mode: lighten;
  }
  &::after {
    background: #9996B0;
    opacity: 0.56;
  }
}
#lark {
  @include filter($lark);
  &::before {
    background: #F2F2F2;
    opacity: 0.8;
    mix-blend-mode: darken;
  }
  &::after {
    background: #22253f;
    mix-blend-mode: color-dodge;
  }
}
#moon {
  @include filter($moon);
  &::after {
    background: #a0a0a0;
    mix-blend-mode: soft-light;
  }
  &::before {
    background: #383838;
    mix-blend-mode: lighten;
  }
}
#clarendon {
  @include filter($clarendon);
  &::before {
    background: #227fbb;
    opacity: 0.2;
    mix-blend-mode: overlay;
  }
}
#willow {
  @include filter($willow);
  &::after {
    background-color: #D4A9AF;
    mix-blend-mode: overlay;
  }
  &::before {
    background-color: #d8cdcb;
    mix-blend-mode: color;
  }
}
#rise {
  @include filter($rise);
  &::before {
    background: #f0d8b8;
    mix-blend-mode: overlay;
    opacity: 0.6;
  }
  &::after {
    background: #ede9e2;
    mix-blend-mode: multiply;
  }
}
#slumber {
  @include filter($slumber);
  &::before {
    background: #693f18;
    opacity: 0.5;
    mix-blend-mode: soft-light;
  }
  &::after {
    background: #45293d;
    opacity: 0.4;
    mix-blend-mode: lighten;
  }
}
