// BASE FONT SETTING
$baseLineHeight: 1.5;
$baseFontSize: 14px;
$baseFontColor: #393939;
$baseFontFamily: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;



// BASE LINK
// $baseLinkColor: steelblue;

// COLORS
$lightGray: #f9f9f9;
$black: #393939;